<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Power Rank</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a [routerLink]="['signup']" *ngIf="!currentUser.loggedIn">Signup</a></li>
        <li><a [routerLink]="['login']" *ngIf="!currentUser.loggedIn">Log In</a></li>
        <li><a [routerLink]="['users']" *ngIf="currentUser.loggedIn">All users</a></li>
        <li><a [routerLink]="['users', currentUser.userId]" *ngIf="currentUser.loggedIn">Your Account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div *ngIf="currentUser.loggedIn">
          <p class="navbar-text">Signed in as {{currentUser.userName}}</p>
          <p class="navbar-text" (click)="logOut()">Log Out</p>
        </div>
        <p class="navbar-text" *ngIf="!currentUser.loggedIn">Log in or Create an account</p>
      </ul>
    </div>
  </div>
</nav>

<div class="">
  <router-outlet></router-outlet>
</div>
