<div class="results">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="the-ballot">Top Three: {{chosenTopic?.title}}</h3>
      <div style="display: block">
        <canvas baseChart
        [data]="[pieChartData[0],pieChartData[1],pieChartData[2]]"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [colors]="pieChartColors"
        (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="the-ballot">The Ballot</h2>
      <div class="add-new-subject">
        <form novalidate (ngSubmit)="addNewSubject(subject)" [formGroup]="subject">
          <span id="helpBlock" class="help-block">Raise a new item to the ballot</span>
          <input type="text" formControlName="name" id="newSubject" class="question" required autocomplete="off">
          <label for="newSubject"><span>Add To Ballot</span></label>
          <input type="submit" class="btn btn-primary">
        </form>
      </div>
      <div class="ballot">
        <p *ngFor="let subject of allSubjects">{{subject?.name}} | Current Score {{subject?.score}}</p>
      </div>
      <a [routerLink]="['vote']">
        <div class="box-3">
          <div class="btn btn-three">
            <span>Vote</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
