<div class="container-fluid new-topic">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <form novalidate (ngSubmit)="addTopic(topic)" [formGroup]="topic">
        <span id="helpBlock" class="help-block">Raise a new topic of discussion</span>
        <input type="text" class="question" id="topicTitle" formControlName="title" required autocomplete="off">
        <label for="topicTitle"><span>Title</span></label>
        <input type="submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>


<div class="container-fluid">
  <ul>
    <div class="row text-center">
      <li *ngFor="let topic of topics" class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
        <a [routerLink]="[topic.id]">
          <div class="box-3">
            <div class="btn btn-three">
              <span>{{topic.title}}</span>
            </div>
          </div>
        </a>
      </li>
    </div>
  </ul>
</div>
