<div class="text-center">
  <img src="http://www.thefourthperiod.com/tfppower2.gif" alt="" class="power-logo">
</div>

<!-- <form novalidate (ngSubmit)="addGenre(genre)" [formGroup]="genre">
  <label for="newGenre">Add a new genre</label>
  <input type="text" formControlName="name" value="" id="newGenre">
  <input type="submit">
</form> -->
<div class="row">
  <div class="col-md-12 text-center">
    <h2>Browse by Genre</h2>
  </div>
</div>
<div class="row">
    <ul>
      <li *ngFor="let genre of genres" class="col-xs-6 col-md-4 text-center">
        <a [routerLink]="['genres', genre.id, 'topics']" class="thumbnail">
          <h2>{{genre.name}}</h2>
        </a>
      </li>
    </ul>
</div>

<ul id="ninja-listing">
  <div class="row text-center">
    <div class="col-md-12">
      <a class="twitter-timeline"  href="https://twitter.com/search?q=%40PowerRankingApp" data-widget-id="820005086801825792">Tweets about @PowerRankingApp</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</ul>
