/* You can add global styles to this file, and also import other style files */


/*@import 'normalize.css';
@import 'skeleton.css';*/


/*.nav-bar-container {
  display: flex;
  justify-content: flex-start;
  background-color: grey;
  margin: 0;
}*/

.pr-logo {
  height: 50px;
  width: 75px;
}
